/* Overrides and extra defs on top of pure-min.css. */

/* Dialogs */
.splash-container {
    border-bottom: 2px solid #848282;
    border-right: 2px solid #848282;
    border-top: 1px solid #D9D9D8;
    border-left: 1px solid #D9D9D8;
    background: #FFF;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0px; left: 5px; bottom: 0; right: 5px;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    color: #0A0545;
    font-weight: 200;
    padding: 5px;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
}

.splash-head img {
    padding-right: 3px;
}

.splash-subhead {
    color: #0A0545;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.splash-text {
    color: #0A0545;
    opacity: 0.8;
    text-align: center;
    padding: 3px;
}

.splash-text-left {
    color: #0A0545;
    opacity: 0.8;
    text-align: left;
    padding: 3px;
}

.splash-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
}

.highlight {
    background-color: #E6E6EC;
    border: 2px solid;
    border-radius: 5px;
    border-color: #0A0545;
    padding: 5px;
}


.highlightenv {
    background-color: #E6E6EC;
    border: 2px solid;
    border-radius: 5px;
    border-color: #0A0545;
    padding: 5px;
    width : 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.pure-button {
    background-color: #0A0545;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.pure-button-active {
    background-color: #FFB515;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/* Main menu */
.pure-menu .pure-menu-heading {
    color: #0A0545;
}

.pure-menu i {
    color: #FFB515;
}

.pure-menu-fathom {
    display: inline-block;
}

.hidden {
    display: none;
}

/* Tool pages */
#container {
    position: relative;
    padding-left: 0;
    padding-bottom: 60px;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.6em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 75%;
}

.upper {
    text-transform: uppercase;
}

a, a:visited { color: #0A0545; text-decoration: underline; outline: 0; }
p a, p a:visited { line-height: inherit; }

b { color: #0A0545; }

blockquote {
    border-left: 2px solid #0A0545;
    padding-left: 4px;
    background-color: white;
}

.header {
     margin: 0;
     color: #0A0545;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 30px 0 10px 0;
    font-weight: 300;
    color: #888;
}

.content-subhead a, a:visited {
    font-weight: 300;
    color: #404040;
    text-decoration: none;
}

.graph-head {
    margin: 20px 0 0 0;
    font-size: 80%; 
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
    text-align: center;
}

.graph-legend {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
}

.allow {
    background-color: rgba(94,185,94,0.25);
}
.disallow {
    background-color: rgba(221,81,76,0.25);
}

.test {
    margin-bottom: 3px;
    padding-left: 4px;
    color: #0A0545;
}

.testname {
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 8px;
}

.test-not-running {
    border-left: 4px solid grey;
    background-color: #f0f0f0;
}

.test-running {
    border-left: 4px solid #0A0545;
    background-color: #f0f0f0;
}

.test-skip {
    border-left: 4px solid grey;
    background-color: #f0f0f0;
}

.test-success {
    border-left: 4px solid rgb(94,185,94);
    background-color: rgba(94,185,94,0.25);
}

.test-errors {
    border-left: 4px solid rgb(243,123,29);
    background-color: rgba(243,123,29,0.25);
}

.test-failure {
    border-left: 4px solid rgb(221,81,76);
    background-color: rgba(221,81,76,0.25);
}

.test-tooltip {
    color: #777;
    display: inline;
    position: relative;
    text-decoration: none;
}
        
.test-tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    color: #fff;
    left: -300px;
    bottom: 26px;
    content: attr(help);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 300px;
    font-size: 1em;
}

.test-tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    font-size: 1em;
}

.floatright {
    float: right;
}

fieldset.whitelistgroup  { 
  margin: 0; 
  margin-bottom: 20px; 
  padding: 5px; 
}

fieldset.whitelistgroup legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
}

ul.whitelist { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
}

ul.whitelist li {
  text-align: left;
  float: left;
  min-width: 150px;
  display:inline-block;
}

/* Graphics */

div .infofloat {
    z-index: 10;
    padding: 5px;
    color: #000;
    font: 12px sans-serif;
    border-radius: 2px;       
    pointer-events: none;
    text-align: left;
}

svg.net-graph .canvas {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-width: 1.5px;
}

svg.net-graph .edge {
    stroke: #0A0545;
    stroke-width: 2.0px;
}

svg.net-graph .wifi-edge {
    stroke: #0A0545;
    stroke-width: 2.0px;
    stroke-dasharray: 3,3;
}

svg.net-graph .label {
  pointer-events: none;
  font: 16px sans-serif; 
  fill: #000;
}

/* node base */
svg.net-graph .node {
    fill: #98abc5;
    stroke: #0A0545;
    stroke-width: 0.5px;
}

/* localhost */
svg.net-graph .localhost-node {
    fill: #ff8c00;
}

/* other host */
svg.net-graph .peer-node {
    fill: #8a89a6;
}

/* other host, rpc available */
svg.net-graph .rpc-peer-node {
    fill: #7b6888;
}

/* gateway */
svg.net-graph .gw-node {
    fill: #6b486b;
}

/* gateway, rpc */
svg.net-graph .rpc-gw-node {
    fill: #a05d56;
}

/* internet nodes */
svg.net-graph .i-node {
    fill: #d0743c;
}
