/* Overrides and extra defs on top of pure-min.css. */

/* Dialogs */
.splash-container {
    border-bottom: 2px solid #848282;
    border-right: 2px solid #848282;
    border-top: 1px solid #D9D9D8;
    border-left: 1px solid #D9D9D8;
    background: #FFF;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0px; left: 5px; bottom: 0; right: 5px;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    color: #0A0545;
    font-weight: 200;
    padding: 5px;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
}

.splash-head img {
    padding-right: 3px;
}

.splash-subhead {
    color: #0A0545;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.splash-text {
    color: #0A0545;
    opacity: 0.8;
    text-align: center;
    padding: 3px;
}

.splash-text-left {
    color: #0A0545;
    opacity: 0.8;
    text-align: left;
    padding: 3px;
}

.splash-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
}

.carousel {
    position:relative
}

.carousel-inner {
    position:relative;
    width:100%;
    overflow:hidden
}

.carousel-inner>.item {
    position:relative;
    display:none;
    -webkit-transition:.6s ease-in-out left;
    -o-transition:.6s ease-in-out left;
    transition:.6s ease-in-out left
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
    line-height:1
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
    display:block
}

.carousel-inner>.active {
    left:0
}

.carousel-inner>.next,.carousel-inner>.prev {
    position:absolute;
    top:0;
    width:100%
}

.carousel-inner>.next {
    left:100%
}

.carousel-inner>.prev {
    left:-100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right {
    left:0
}

.carousel-inner>.active.left {
    left:-100%
}

.carousel-inner>.active.right {
    left:100%
}

.carousel-control {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:10%;
    font-size:20px;
    color:#0A0545;
    text-align:center;
    opacity:.5
}

.carousel-control.left {

 }

.carousel-control.right {
    right:0;
    left:auto;
 }

.carousel-control:hover,.carousel-control:focus {
    color:#0A0545;
    text-decoration:none;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    outline:0;
    opacity:.9
}

.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .fa {
    position:absolute;
    top:50%;
    z-index:5;
    display:inline-block
}

.carousel-control .icon-prev, .carousel-control .fa {
    left:50%;
    margin-left:-10px
}

.carousel-control .icon-next, .carousel-control .fa {
    right:50%;
    margin-right:-10px
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    width:20px;
    height:20px;
    margin-top:-10px;
    font-family:serif
}

.carousel-control .icon-prev:before {
    content:'\2039'
}

.carousel-control .icon-next:before {
    content:'\203a'
}

.carousel-indicators {
    position:absolute;
    bottom:10px;
    left:50%;
    z-index:15;
    width:60%;
    padding-left:0;
    margin-left:-30%;
    text-align:center;
    list-style:none
}

.carousel-indicators li {
    display:inline-block;
    width:10px;
    height:10px;
    margin:1px;
    text-indent:-999px;
    cursor:pointer;
    background-color:#fff;
    background-color:rgba(0,0,0,0);
    border:1px solid #0A0545;
    border-radius:10px
}

.carousel-indicators .active {
    width:12px;
    height:12px;
    margin:0;
    background-color:#0A0545;
}

.carousel-slide {
    position:relative;
    right:10%;
    bottom:40px;
    left:10%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#888;
    width: 80%;
}

.carousel-slide p,li {
    color:#000;
}

.carousel-slide i {
    color: #FFB515;
    font-size: 1.1em;
}

.carousel-slide a,a:visited {
    color: #0A0545 !important;
    text-decoration: underline;
}

.pure-button i {
    color: inherit;
    font-size: inherit;
}

.highlight {
    background-color: #E6E6EC;
    border: 2px solid;
    border-radius: 5px;
    border-color: #0A0545;
    padding: 5px;
    color: #000;
}

.pure-button {
    background-color: #0A0545;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.pure-button-active {
    background-color: #FFB515;
}

.button-xsmall {
    font-size: 0.8em;
}

.button-small {
    font-size: 0.9em;
}

.button-large {
    font-size: 1.2em;
}

.button-xlarge {
    font-size: 1.4em;
}

/* Main menu */
.pure-menu .pure-menu-pl {
    color: #0A0545;
    text-transform: none;
    font-style: italic;
    padding: 5px 0 2px 10px;
    background-color: #E6E6EC;
}

.pure-menu .pure-menu-pl i {
    color: #0A0545;
    font-size: 1.1em;
    padding: 0px 5px 3px 0px;
}

.pure-menu hr {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #0A0545;
}

.pure-menu .pure-menu-heading {
    color: #0A0545;
}

.pure-menu .menu-divider {
    color: #0A0545;
    padding: 0px;
}

.pure-menu i {
    color: #FFB515;
    font-size: 1.1em;
    padding: 0px 5px 3px 0px;
}

.pure-menu-fathom {
    display: inline-block;
}

.hidden {
    display: none;
}

/* Tool pages */
#container {
    position: relative;
    padding-left: 0;
    padding-bottom: 60px;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.6em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 75%;
    line-height: 1.1em;
}

.upper {
    text-transform: uppercase;
}

a, a:visited { color: #0A0545; text-decoration: underline; outline: 0; }
p a, p a:visited { line-height: inherit; }

b { color: #0A0545; }

blockquote {
    border-left: 2px solid #0A0545;
    padding-left: 4px;
    background-color: white;
}

.header {
     margin: 0;
     color: #0A0545;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 30px 0px 10px 0px;
    font-weight: 300;
    color: #888;
}

.content-subhead a, a:visited {
    font-weight: 300;
    color: #888;
    text-decoration: none;
}

.graph-head {
    margin: 20px 0 0 0;
    font-size: 80%; 
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
    text-align: center;
}

.graph-legend {
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    line-height: 1.2em;
}

.graph-legend a {
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.2em;
}

.graph-legend .fa {
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
}

.popover {
    position:absolute;
    top:0;
    left:0;
    z-index:1060;
    display:none;
    max-width:276px;
    padding:0px;
    text-align:left;
    white-space:normal;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #0A0545;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
    box-shadow:0 5px 10px rgba(0,0,0,.2)
}

.popover.top {
    margin-top:-10px
}

.popover.right {
    margin-left:10px
}

.popover.bottom {
    margin-top:10px
}

.popover.left {
    margin-left:-10px
}

.popover-title {
    padding: 0.5em 1em;
    margin:0;
    font-size: 1.0em;    
    font-weight: 600;
    background-color:#f7f7f7;
    border-bottom:1px solid #0A0545;
    border-bottom:1px solid rgba(0,0,0,.2);
    border-radius:5px 5px 0 0;
}

.popover-content {
    padding: 5px 5px
}

.popover>.arrow,.popover>.arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}

.popover>.arrow {
    border-width:11px
}

.popover>.arrow:after {
    content:"";
    border-width:10px
}

.popover.top>.arrow {
    bottom:-11px;
    left:50%;
    margin-left:-11px;
    border-top-color:#0A0545;
    border-top-color:rgba(0,0,0,.25);
    border-bottom-width:0
}

.popover.top>.arrow:after {
    bottom:1px;
    margin-left:-10px;
    content:" ";
    border-top-color:#fff;
    border-bottom-width:0
}

.popover.right>.arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-right-color:#0A0545;
    border-right-color:rgba(0,0,0,.25);
    border-left-width:0
}

.popover.right>.arrow:after {
    bottom:-10px;
    left:1px;
    content:" ";
    border-right-color:#fff;
    border-left-width:0
}

.popover.bottom>.arrow {
    top:-11px;
    left:50%;
    margin-left:-11px;
    border-top-width:0;
    border-bottom-color:#0A0545;
    border-bottom-color:rgba(0,0,0,.25)
}

.popover.bottom>.arrow:after {
    top:1px;
    margin-left:-10px;
    content:" ";
    border-top-width:0;
    border-bottom-color:#fff
}

.popover.left>.arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:#0A0545;
    border-left-color:rgba(0,0,0,.25)
}

.popover.left>.arrow:after {
    right:1px;
    bottom:-10px;
    content:" ";
    border-right-width:0;
    border-left-color:#fff
}

.popover ul {
    padding-left: 1em;
    margin: 0;
    list-style: square;
}

.allow {
    background-color: rgba(94,185,94,0.25);
}
.disallow {
    background-color: rgba(221,81,76,0.25);
}

.test-subhead h2 {
    margin: 30px 0px 10px 0px;
    font-weight: 300;
    color: #888;
    display: inline-block;
}

.test {
    margin-bottom: 3px;
    padding-left: 4px;
    color: #0A0545;
}

.test-subhead .help-popover .fa {
    color: inherit;
    color: rgba(0,0,0,0.5);
    font-size: 1.4em;  
    font-weight: 300;
}

.test .help-popover .fa {
    color: inherit;
    color: rgba(0,0,0,0.5);
    font-size: 1.2em;  
    padding-right: 5px;
}

.testname {
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 8px;
}

.test-not-running {
    border-left: 4px solid grey;
    background-color: #f0f0f0;
}

.test-running {
    border-left: 4px solid #0A0545;
    background-color: #f0f0f0;
}

.test-skip {
    border-left: 4px solid grey;
    background-color: #f0f0f0;
}

.test-success {
    border-left: 4px solid rgb(94,185,94);
    background-color: rgba(94,185,94,0.25);
}

.test-errors {
    border-left: 4px solid rgb(243,123,29);
    background-color: rgba(243,123,29,0.25);
}

.test-failure {
    border-left: 4px solid rgb(221,81,76);
    background-color: rgba(221,81,76,0.25);
}

.floatright {
    float: right;
}

fieldset.whitelistgroup  { 
  margin: 0; 
  margin-bottom: 20px; 
  padding: 5px; 
}

fieldset.whitelistgroup legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
}

ul.whitelist { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
}

ul.whitelist li {
  text-align: left;
  float: left;
  min-width: 150px;
  display:inline-block;
}

/* Graphics */

div .infofloat {
    z-index: 10;
    padding: 5px;
    color: #000;
    font: 12px sans-serif;
    border-radius: 2px;       
    pointer-events: none;
    text-align: left;
}

svg.net-graph .canvas {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-width: 1.5px;
}

svg.net-graph .edge {
    stroke: #0A0545;
    stroke-width: 2.0px;
}

svg.net-graph .wifi-edge {
    stroke: #0A0545;
    stroke-width: 2.0px;
    stroke-dasharray: 3,3;
}

svg.net-graph .label {
  pointer-events: none;
  font: 16px sans-serif; 
  fill: #000;
}

/* node base */
svg.net-graph .node {
    fill: #98abc5;
    stroke: #0A0545;
    stroke-width: 0.5px;
}

/* localhost */
svg.net-graph .localhost-node {
    fill: #ff8c00;
}

/* other host */
svg.net-graph .peer-node {
    fill: #8a89a6;
}

/* other host, rpc available */
svg.net-graph .rpc-peer-node {
    fill: #7b6888;
}

/* gateway */
svg.net-graph .gw-node {
    fill: #6b486b;
}

/* gateway, rpc */
svg.net-graph .rpc-gw-node {
    fill: #a05d56;
}

/* internet nodes */
svg.net-graph .i-node {
    fill: #d0743c;
}
